@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'PP Gosha Sans';
    src: url("/fonts/PPGoshaSans-Bold.otf");
    font-weight: bold;
}
html, body {
    font-family: 'PP Gosha Sans', ui-serif;
}